        @import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Cormorant+Garamond|Gelasio|Homemade+Apple&display=swap');
        body {
            background-image: url(https://i.pinimg.com/originals/a4/01/5b/a4015b71edfd20bff420bc7ba1b61692.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: rgb(206, 175, 194);
            font-size: 16px;
        }
        
        header,
        nav,
        main,
        footer {
            max-width: 1000px;
            margin: 0 auto;
        }
        
        header {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
        }
        
        header img {
            border: 8px double;
        }
        
        header h1 {
            font-size: 5em;
            font-family: 'Homemade Apple', cursive;
            margin-bottom: 0px;
        }
        
        .motto {
            font-size: 1.5em;
            font-family: 'Gelasio', serif;
            margin-top: 0px;
            margin-bottom: 40px;
            letter-spacing: 1.5pt;
            text-align: center;
        }
        
        main {
            background-color: rgb(223, 213, 219);
            padding: 10px;
            border: 1px dashed;
        }
        
        main section h2 {
            font-size: 2em;
            font-family: 'Cormorant Garamond', serif;
            text-align: center;
        }
        
        main section p {
            font-size: 1.1em;
            font-family: 'Gelasio', serif;
            text-align: center;
        }
        /* Timeline pics */
        
        main h2 {
            font-size: 3em;
            font-family: 'Cedarville Cursive', cursive;
            margin-bottom: 20px;
            margin-left: 20px;
        }
        
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1000px;
            height: 900px;
            justify-items: center;
            grid-gap: 30px;
        }
        
        .pic1 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
            ;
            margin-left: 20px;
        }
        
        .pic2 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
        }
        
        .pic3 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
        }
        
        .pic4 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
        }
        
        .pic5 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
        }
        
        .pic6 {
            width: 300px;
            height: 365px;
            background-color: rgb(131, 80, 104);
        }
        
        footer p {
            font-size: 3em;
            font-family: 'Cedarville Cursive', cursive;
            text-align: center;
        }