body {
    background-color: rgb(252, 231, 248);
}

header h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Merriweather', serif;
}

header h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    margin-top: 5px;
}

header h2 a:link {
    text-decoration: none;
    color: black;
}

header h2 a:visited {
    color: gray;
}

main h2 {
    background-color: black;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 1.5em;
}

main h3 {
    font-size: 1.25em;
    font-family: 'Merriweather', serif;
    text-align: center;
}

/*First Principle: Visual Hierarchy*/

.first {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.paragraph1 {
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}

.pic1 {
    max-width: 25em;
}

/*Second Principle: PARC: Alignment*/

.second {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.paragraph2 {
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}

.pic2 {
    max-width: 25em;
}

/*Third Principle: PARC: Repetition*/

.third {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.paragraph3 {
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}

.pic3 {
    max-width: 25em;
}

/*footer*/

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;

}

footer a:link {
    color: gray;
    text-decoration: none;
}

/* phone or baseline views **************************/

@media (min-width: 400px) {
    .container {
        max-width: 400px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
    }
}

/* Tablet Views ******************************/

@media (min-width: 750px) {
    .container {
        max-width: 800px;
        min-width: 800px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Desktop Views ****************************/

@media (min-width: 1000px) {
    .container {
        max-width: 1100px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
}