header,
footer {
	background-color: #1985A1;
    display: flex;
	align-items:center;
	justify-content:center;
	margin: 0px auto;
}

main {
	max-width: 767px;
    margin: 0px auto;
    border-radius: 5px;
}

header img {
	width: 50px;
	height: auto;
}

h1 {
    color: white;
    font-size: 1.6rem;
	font-family: 'Oswald', sans-serif;
	margin: 0 0 0 17px;
}

.motto {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-left: 20px;
	font-size: .9rem;
    letter-spacing: 1pt;
    color: white;
}

.headings {
    display: flex;
	flex-direction: column;
	margin: 5px;
}

h2 {
    color: #091925;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav {
	margin: 0 auto;
	background-color: #091925;
}

.navigation {
	list-style: none;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: white;
}

.navigation a:hover {
	background-color: #bbb;
	color: #36454f;
	border-radius: 5px;
}

.responsive li {
	display: block;
}

.contentbox {
    border: 1px dashed black;
    background-color: #bbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    flex-flow: column;
    padding: 1.2rem;
}

footer p {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
	padding: 0;
}

