@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

  /* Style the header */
  header {
    background-color: #f4acb7;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color: #ffff;
    text-transform: uppercase;
    font-size: 20px;
	text-align: center;
  }

  /* Style the input */
  #myInput {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 12px;
    float: left;
    font-size: 16px;
  }

  /* Style the main */
  main {
	background: #ffc2d4;
	font-family: 'Roboto', sans-serif;
	padding: 25px;
  }

  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: #ff87ab;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  .addBtn:hover {
    background-color: #ff5c8a;
    color: #fff;
  }

  /* Style the filters */
  .todo-stats > div {
	padding: 15px;
    width: 33%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: #ffc2d4;
    color: #555;
    text-align: center;
    font-size: 18px;
    display: inline-table;
  }

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #fae0e4;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
	list-style: none;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #fbb1bd;
  }
  
  /* Darker pink background-color on hover */
  ul li:hover {
    background: #ff5c8a;
    color: #fff;
  }

  /* Style the task container*/
  .todo-list .checkbox-wrapper {
	align-items: baseline;
  }

  /* The completed check mark*/
  .todo-list .checkbox-wrapper .checkmark {
	display: none;
	float: left;
  }

  .todo-list [type="checkbox"]:checked + label .checkmark {
	display: block;
  }
  
  .todo-list [type="checkbox"]:checked ~ span {
	text-decoration: line-through;
  	opacity: 0.5;
  }

  /* The remove button*/
  .todo-list .remove-task {
	float: right;
	background: transparent;
    border: transparent;
	font-size: 15px;
	color: #555;
  }