@media only screen and (min-width: 72em) {
    h1 {
        font-size: 7.5em;
    }
    header img {
        width: 180px;
        height: auto;
    }
    
    /**************Contact-Map****************/
    div#googleMap iframe {
        width: 1520px;
    }
}