/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
    header img {
        width: 100px;
        height: auto;
    }
    h1 {
        font-size: 5.5em;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }

/******* Navigation *******/
    button#hamburger {
        display: none;
    }
    nav li {
        display: block;
        flex: 1 1 auto;
    }
    nav {
        background-color: #F4F1DE;
        margin: 50px 0 50px 0;
    }
    .navigation {
        display: flex;
        margin: 0 auto;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        font-size: 22px;
        color: #3D405B;
        padding: 10px;
    }
    .navigation a:hover {
        border: none;
        color: #E07A5F;
        background-color: #F4F1DE;
        -webkit-transform: rotate(-11deg);
        -moz-transform: rotate(-11deg);
        -ms-transform: rotate(-11deg);
        -o-transform: rotate(-11deg);
        transform: rotate(-11deg);
    }

    /*************Slider Section**************/
    .text {
        font-size: 30px;
      }

    /*************Text under the Slider***************/
    h2 {
        font-size: 35px;
    }
    .textSlide p, .textSlide a {
        font-size: 20px;
    }

    /*************Our information Section***************/
    h3 {
        font-size: 22px;
    }
    div.ourInfo p {
        font-size: 20px;
    }
    div.ourInfo a {
        font-size: 20px;
    }

    /***************Client Review Section***************/
    #reviewContainer {
        flex-flow: nowrap;
    }
    .name {
        font-size: 20px;
        max-width: 500px;
    }
    .photo:hover {
        opacity: 0.75;
    }
    .feedback {
        font-size: 18px;
        max-width: 500px;
    }

    /***************Call to action***************/
  div.buttonContainer h3 {
    font-size: 22px;
  }
  section button.callAct {
    background-color: #F2CC8F;
    color: #3D405B;
    font-size: 22px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }
  section button.callAct:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  /**************Form****************/
h2.ReservationTitle {
    font-size: 3.5rem;
  }

  /**************Contact-Map****************/
div.contacticons {
    display: flex;
    justify-content: center;
  }
div.contacticons img {
      padding: 8px;
  }
section.locations {
    font-size: 20px;
}
h2.contactTitle {
    font-size: 3.5rem;
  }
  
  /***************Footer***************/
.footerBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .footer1 {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        padding: 20px;
    }
    .footer2 {
        grid-area: 1 / 2 / 2 / 3;
        text-align: right;
        padding: 20px;
    }

    /**************Tours Sections****************/
    section.toursText p {
        font-size: 20px;
      }
}