body {
    background-color: #f8f4eb;
}

#hamburger{
    background-color: #f8f4eb;
    color: #09025f;
    border: none;
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
    margin-left: 20px;
}

h1 {
    text-align: left;
    font-size: 4em;
    font-family: 'Pacifico', cursive;
    color: crimson;
    text-shadow: 
    4px 4px 0px #f8f4eb,
    7px 7px 0px rgba(255, 177, 74, 0.94);
    -webkit-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

.motto {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    margin-left: 20px;
	font-size: 1rem;
    letter-spacing: -0.5pt;
    color: #09025f;
}

/* Animation Text
credits: https://codepen.io/cssanimation/pen/oYgXdM */

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav li {
    display: none;
    overflow: hidden;
    white-space: nowrap;
}

nav a {
    display: block;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    color: #09025f;
    padding: 1em;
}

.active {
    text-shadow: -1px -1px 0px rgb(17, 110, 250);
}

.navigation a:hover {
    color: #36454f;
    -webkit-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    transform: rotate(-11deg);
}

.responsive li {
    display: block;
}


/*
font-family: 'Hind Madurai', sans-serif; Titles
font-family: 'Pacifico', cursive; Soots
font-family: 'Roboto Condensed', sans-serif; text
*/