        @import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto+Condensed&display=swap');
        body {
            background-color: rgb(168, 190, 214);
            font-size: 16px;
        }
        
        header,
        nav,
        main,
        footer {
            max-width: 960px;
            margin: 0 auto;
        }
        
        header {
            background-color: rgb(255, 198, 42);
            color: rgb(13, 36, 59);
            border: 3px solid rgb(255, 252, 95);
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        header img {
            width: 150px;
            height: auto;
            margin-left: 20px;
            border-radius: 50%;
        }
        
        header h1 {
            font-size: 4rem;
            font-family: 'Bebas Neue', cursive, sans-serif;
            text-align: center;
            margin-left: 5px;
            margin-bottom: auto;
        }
        
        .motto {
            font-family: 'Roboto Condensed', cursive, sans-serif;
            font-style: italic;
            font-size: 1rem;
            letter-spacing: 1.5pt;
            color: white
        }
        
        nav {
            background-color: rgb(255, 252, 95);
            font-family: 'Roboto Condensed', cursive, sans-serif;
            border: 3px solid rgb(255, 252, 95);
            margin: auto;
            align-items: center;
        }
        
        nav ul {
            display: flex;
            flex-direction: row;
            margin: 0rem;
            padding: 0rem;
        }
        
        nav ul li {
            list-style: none;
            flex: 1 1 auto;
            text-align: center;
        }
        
        nav ul li a {
            display: block;
            text-decoration: none;
            color: rgb(13, 36, 59);
            font-size: 1.2rem;
            padding: 1rem;
        }
        
        a:link {
            color: rgb(13, 36, 59);
        }
        
        a:visited {
            color: rgb(29, 99, 168);
        }
        
        main {
            background-color: rgb(13, 36, 59);
            color: rgb(255, 254, 174);
            border: 3px solid rgb(255, 252, 95);
            padding: 10px;
        }
        
        .banner-box img {
            width: 100%;
            height: auto;
        }
        
        .home-headline-1 {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
        
        .home-headline-2 {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
        
        main h2 {
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive, sans-serif;
        }
        
        main p {
            font-size: 1rem;
            font-family: 'Roboto Condensed', cursive, sans-serif;
        }
        
        footer {
            background-color: rgb(255, 252, 95);
            color: rgb(13, 36, 59);
            border: 3px solid rgb(255, 252, 95);
            padding: 10px;
        }
        
        footer p {
            font-size: 1rem;
            font-family: 'Roboto Condensed', cursive, sans-serif;
        }