/********** phone or baseline views **************************/
body {
    background-color: #D8E2DC;
}
header,
footer {
    color: #69474e;
	background-color: #FFE5D9;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header img {
	width: 50px;
	height: auto;
}
h1 {
    color: #69474e;
    font-size: 2rem;
    font-family: 'Clicker Script', cursive;
    margin: 0 0 0 17px;
}
.motto {
    font-family: 'Bodoni Moda', serif;
    margin-left: 20px;
	font-size: 0.8rem;
    letter-spacing: 1pt;
    color: #69474e;
}

/*Navigation Menu and Hamburger Buttom*/
nav {
	background-color: #FFCAD4;
    text-align: center;
    margin: 0 auto;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
	display: none;
}
.navigation a {
    color: #69474e;
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 1rem;
    font-family: 'Bodoni Moda', serif;
}
#active a {
    color: #9D8189;
}
.navigation a:hover {
    border: white dashed 3px;
}
.responsive li {
    display: block;
}

/* Main Section */
main {
    max-width: 900px;
    margin: 0px auto;
    color: #69474e;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    background-color:white;
    box-sizing: border-box;
    text-align: center;
}
main a{
    text-decoration: none;
    color: #69474e;
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
}
main ul {
    color: #69474e;
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
    color: #69474e;
    font-family: 'Bodoni Moda', serif;
}
.contentbox {
    border-top: 1px solid #69474e;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

/* Footer Section */
footer {
    flex-flow: column;
    padding: 0.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

footer p {
    margin: 5px;
}

footer a{
    text-decoration: none;
    color: #69474e;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}