@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #FAEBD7;
}

header {
    background: #6495ED;
    padding: 15px;
}

header ul {
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
}

header a{
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: right;
    color: #FAEBD7;
}

header a:visited {
    color: #FAEBD7;
}

header a:hover {
    color: white;
    text-decoration: underline;
}

header a.active {
    color: #DEB887;
}

h1, h2 {
    font-family: 'Lora', serif;
}

p{
    font-family: Helvetica, Arial, sans-serif;
}

.post-date{
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    max-width: 100%;
    margin: auto;
}

a, a:visited {
    display: block;
    color: #6495ED;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: #DEB887;
}

article {
    background: white; 
    box-shadow: 5px 4px 6px -1px rgba(0,0,0,0.38);
    padding: 30px;
    margin: 25px;
}

article img {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article h2 a{
    display: block;
    text-decoration: none;
    color: black;
}

article h2 a:visited {
    color: black;
}

article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

article h2 a.active {
    color: #DEB887;
}

@media only screen and (min-width: 45.45em) {
    header {
        width: 200px;
        height: 100%;
        padding: 15px;
        position: fixed;
    }

    main {
        max-width: 600px;
        position: relative;
        margin-left: 300px;
    }

    article img {
        width: 200px;
    }
}

@media only screen and (min-width: 70em) {
    main {
        margin-left: 500px;
    }
}